# Node modules
**/node_modules/

# Environment variables
**/.env

# Log files
*.log

# Build outputs
**/build/
**/dist/

# Docker
*.pid
docker-compose.override.yml

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
